# dependencies
node_modules

# environment
.env
.env.local
.env.production

# build
dist
.next
out
coverage
*.tsbuildinfo
deploy-bundles/

# logs
*.log

# pnpm
.pnpm-store
.corepack

# turbo
.turbo

# tauri
src-tauri/target

# prisma
prisma/dev.db

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
